In [1]:
# average mount per transaction
# number of female and male and their average income and age
# Average number of offers received, viewed, and completed person in the last 30 days
# average offer reward, durability, and difficulty

In [3]:
import pandas as pd
import numpy as np
import math
import json
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [4]:
profile['gender'].value_counts()

M    8484
F    6129
O     212
Name: gender, dtype: int64

In [5]:
profile.groupby('gender')['income'].mean()

gender
F    71306.412139
M    61194.601603
O    63287.735849
Name: income, dtype: float64

In [6]:
profile.groupby('gender')['age'].mean()

gender
F    57.544950
M    52.116690
O    54.400943
Name: age, dtype: float64

In [7]:
portfolio.head()

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [30]:
portfolio.groupby('offer_type')['duration'].mean()

offer_type
bogo             6.0
discount         8.5
informational    3.5
Name: duration, dtype: float64

In [31]:
portfolio.groupby('offer_type')['difficulty'].mean()

offer_type
bogo              7.50
discount         11.75
informational     0.00
Name: difficulty, dtype: float64

In [32]:
portfolio.groupby('offer_type')['reward'].mean()

offer_type
bogo             7.5
discount         3.0
informational    0.0
Name: reward, dtype: float64

In [8]:
portfolio['duration'].mean()

6.5

In [9]:
portfolio['reward'].mean()

4.2

In [11]:
portfolio['difficulty'].mean()

7.7

In [12]:
portfolio.groupby('offer_type')['id'].count()

offer_type
bogo             4
discount         4
informational    2
Name: id, dtype: int64

In [13]:
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [14]:
transcript['event'].value_counts()

transaction        138953
offer received      76277
offer viewed        57725
offer completed     33579
Name: event, dtype: int64

In [15]:
transcript['time'].max()

714

In [16]:
714/24

29.75

In [19]:
transaction = transcript[transcript['event'] == 'transaction'].copy().reset_index(drop = True)
transaction['amount'] = transaction['value'].apply(lambda x: x.get('amount'))

In [20]:
transaction.head()

,person,event,value,time,amount
0,02c083884c7d45b39cc68e1314fec56c,transaction,{'amount': 0.8300000000000001},0,0.83
1,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,transaction,{'amount': 34.56},0,34.56
2,54890f68699049c2a04d415abc25e717,transaction,{'amount': 13.23},0,13.23
3,b2f1cd155b864803ad8334cdf13c4bd2,transaction,{'amount': 19.51},0,19.51
4,fe97aa22dd3e48c8b143116a8403dd52,transaction,{'amount': 18.97},0,18.97

In [21]:
transaction['amount'].mean()

12.77735615639814

In [22]:
transaction['amount'].median()

8.89

In [25]:
transcript['offer_received'] = np.where(transcript['event'] == 'offer received',
                                       1,0)
transcript['offer_viewed'] = np.where(transcript['event'] == 'offer viewed',
                                       1,0)
transcript['offer_completed'] = np.where(transcript['event'] == 'offer completed',
                                       1,0)

In [26]:
transcript.head()

,person,event,value,time,offer_received,offer_viewed,offer_completed
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,1,0,0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,1,0,0

In [27]:
transcript.groupby('person',as_index = False)['offer_received'].sum()['offer_received'].mean()

4.486882352941176

In [28]:
transcript.groupby('person',as_index = False)['offer_viewed'].sum()['offer_viewed'].mean()

3.3955882352941176

In [29]:
transcript.groupby('person',as_index = False)['offer_completed'].sum()['offer_completed'].mean()

1.975235294117647